################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStrore/.vs/BookStrore
/BookStrore/BookStrore.UI/bin/Debug/netcoreapp3.1
/BookStrore/BookStrore.UI/obj
